<template>

  <div class="hola">
      <busqueda @new="buscar"></busqueda>

       <div class="container bus">
            <div class="row">
                <div class="loader" style="display:none">Loading...</div>
                <itemsBiblioteca v-for="(item,index) in items"
                  :key="index"
                  :item="item"
                  @modal="abrirModal(index)"
                  @megusta="megusta(index,...arguments)"
                  @nomegusta="nomegusta(index,...arguments)"
                  >
                </itemsBiblioteca>
                <div v-if="vacio==true" class="col-12 justify-content-center" style="text-align: center;">
                   <h3  style="position: relative;top: 100px;">No Se Encontraron Resultados</h3>
                </div>
            </div>
       </div>
          <div class="modal fade bd-bibli-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content mt-luis">
                    <div class="card-header bg-light br-luis  p-2 pl-3" style="  border-radius: 16px 16px 0px 0px;">
                            <div class="row">
                                  <div class="col-12">
                                    <strong class="nombre">{{itemm.profesor}}</strong>  
                                    <p class="fecha m-0">{{itemm.updated_at}}</p>
                                </div>
                            </div>           
                    </div>
                    <div class="card-body p-3">
                        <ul class="lista p-0 m-0">
                            <li><strong class="mr-2">Título:</strong>{{itemm.titulo}}</li>
                            <li><strong class="mr-2">Materia:</strong>{{itemm.materia}}</li>
                            <li><strong class="mr-2">Año:</strong>{{itemm.anio}}</li>
                            <li><strong class="mr-2">Descripción:</strong>{{itemm.descripcion}}</li>
                            <li><strong class="mr-2">Link de descarga:</strong><a href="">{{itemm.url}}</a></li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a class="megusta touch" v-bind:id="itemm.id" v-on:click="megusta2()" v-show="itemm.like==false"><i class="far fa-heart" id="megusta"></i></a>
                        <a class="touch" v-on:click="nomegusta2()" v-show="itemm.like==true"><i class="fas fa-heart" style="color:red;" id="nomegusta"></i></a> 
                        <strong>{{ itemm.likes}} Me Gusta</strong>
                    </div>
                </div>
            </div>
        </div>
  </div>
  
</template>

<script>
import busqueda from './busqueda.vue';
import itemsBiblioteca from './items-biblioteca.vue';

    export default {
        components:{
            busqueda,
            itemsBiblioteca
        }
        ,
        mounted() {
            console.log();
            if(this.$route.params.id!=null){
                 $(".loader").show();
                 let params ={
                     id:this.$route.params.id!=null
                 }
                 axios.post('api/buscarbibli/',params).then((response) =>{
                      if($(".collapse").hasClass("show")){
                        $(".collapse").removeClass("show");    
                    }
                     $(".barra").animate({
                        height: '57px'
                    },"fast");
                     $(".barra").css({
                        "top": 11+'px',
                        "position":"relative"
                    });
                    $(".fondo").css({
                        "height": 80+'px',
                            "background":"#b0f1ac"
                    });
                    $(".bd-bibli-modal-lg").modal("show");
                    this.itemm = response.data.biblioteca;
                    this.itemm.anio = response.data.biblioteca.grados.grado;
                    this.itemm.materia = response.data.biblioteca.materias.nombre;
                    this.itemm.profesor = response.data.biblioteca.usuarios.nombre + " " + response.data.biblioteca.usuarios.apellido;
                    this.items[0] = response.data.biblioteca;
                    console.log(response.data.biblioteca);
                    $(".loader").hide();
                }).catch(error => {
                    console.log(error);
                });
            }
           
        },

        data(){
            return {
                busqueda:false,
                indice:'',
                itemm:{
                    'id':0,
                    'titulo':'',
                    'profesor':'',
                    'anio':'5to',
                    'materia':'',
                    'descripcion':'',
                    'url':'',
                    'likes':0,
                    'updated_at':''
                },
                adicional:false,
                items:[
                    
                ],
                vacio:false
            }
        },

        methods: {
            buscar(parametros){
                this.items = [];
                $(".loader").show();
                this.busqueda= parametros.busqueda;
                axios.post('api/busqueda',parametros).then((response) =>{
                   
                    this.items = response.data.biblioteca;
                    if(this.items.length == 0 ){
                       this.vacio = true;
                    }else{
                      this.vacio = false;
                    }
                     $(".loader").hide();
                }).catch(error => {
                    console.log(error);
                });
                $(".bus").addClass("mb-5");
            },
            abrirModal(index){
                this.indice= index;
                this.itemm.titulo = this.items[index].titulo;
                this.itemm.descripcion = this.items[index].descripcion;
                this.itemm.likes = this.items[index].likes;
                this.itemm.profesor = this.items[index].usuarios.nombre+ " "+ this.items[index].usuarios.apellido;
                if(this.itemm.materias!=null){
                    this.itemm.materia = this.items[index].materias.nombre;
                }else{
                    this.itemm.materia = this.items[index].otras_materias.nombre;
                }
                this.itemm.anio = this.items[index].grados.grado;
                this.itemm.url = this.items[index].url;
                this.itemm.updated_at =this.items[index].updated_at;
                this.itemm.like = this.items[index].like;
                this.itemm.id = this.items[index].id;
            },
            megusta(index,pase){
                this.items[index].likes = pase.likes;
                this.items[index].like= pase.like;
            },
            megusta2(){

                let parametros = {
                    like:true,
                    id_post: this.itemm.id
                };
                this.itemm.like = true;
                this.itemm.likes = this.itemm.likes +1;
                 axios.post('api/likeBibli',parametros).then((response) =>{
                     console.log(response);
                    this.itemm.like = response.data.like;
                    this.itemm.likes = response.data.post.likes;
                    
                    this.items[this.indice].like = this.itemm.like;
                    this.items[this.indice].likes = this.itemm.likes;
                }).catch(error => {
                        this.itemm.like = false;
                this.itemm.likes = this.itemm.likes - 1;
                    console.log(error);
                });
            },
            nomegusta(index,pase){
                this.items[index].likes = pase.likes;
                this.items[index].like= pase.like;
            },
            nomegusta2(){
                 let parametros = {
                    like:false,
                    id_post: this.itemm.id
                };
                this.itemm.like= false;
                 axios.post('api/dislikeBibli',parametros).then((response) =>{
                  this.itemm.like = response.data.like;
                    this.itemm.likes = response.data.post.likes;
                    
                    this.items[this.indice].like = this.itemm.like;
                    this.items[this.indice].likes = this.itemm.likes;
                }).catch(error => {
                    console.log(error);
                });
          
            }
        },
    }
</script>

<style>
    .mt-luis{
        margin-top: 130px;
    }
     .touch:hover{
        cursor: pointer;
    }
    .loader {
  color: #fd484d;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
</style>