<template>
<div>
    <Header></Header>
    <div class="fondo">
        <nav class="barra navbar navbar-expand-md justify-content-center">
            <div class="container ml-md-3 mr-md-3 justify-content-center">
                <button class="navbar-toggler" id="b-barra" type="button" data-toggle="collapse" data-target="#barra-busqueda" aria-controls="barra-busqueda" aria-expanded="false" aria-label="toggle">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
            <div class="collapse navbar-collapse show" id="barra-busqueda">
                <form action="" v-on:submit.prevent="buscar()">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item mr-3">
                            <select v-model="materia" id="search-category" class="materia" name="search-category" style="  background: url(../images/select-icon1.png) no-repeat scroll right 50% #d6d6d6 !important;">
                                <option value="">Materia</option>
                                <option v-for="materia in materias"
                                :key="materia.nombre"
                                v-bind:value="materia.nombre"
                                >
                                {{materia.nombre}}
                                </option>
                
                            </select>
                        </li>
                        <li class="nav-item mr-3">
                            <select v-model="anio" id="search-category" class="materia" name="search-category" style="  background: url(../images/select-icon1.png) no-repeat scroll right 50% #d6d6d6 !important;">
                                <option value="">Año</option>
                               <option v-for="grado in grados"
                               :key="grado.id"
                                v-bind:value="grado.id"
                                >
                                {{grado.grado}}
                                </option>
                            </select>
                        </li>
                        <li class="nav-item mr-3">
                            <select v-model="profesor" id="search-category" class="materia" name="search-category" style="  background: url(../images/select-icon1.png) no-repeat scroll right 50% #d6d6d6 !important;">
                                    <option value="">Profesor</option>
                                     <option v-for="profesor in profesores"
                                     :key="profesor.id"
                                    v-bind:value="profesor.id"
                                    >
                                    {{profesor.nombre}}
                                    </option>
                            </select>
                        </li>
                        <li class="nav-item mr-3">
                            <div class="search-box">
                                    <input class="input-text" type="text" placeholder="Titulo" v-model="titulo">
                                    <button class="search-btn" type="submit"></button>
                            </div>
                        </li>
                    </ul>
                </form>
                
            </div>
            </div>
        </nav>
    </div>
    </div>
</template>

<script>


import Header from '../../components/Navs/Header.vue';
    export default {
        components:{
            Header
        },
        name:'busqueda',
        data(){
            return {
                titulo:'',
                materia:'',
                anio:'',
                profesor:'',
                busqueda:false,
                adicional:false,
                materias:{

                },
                grados:{

                },
                profesores:{

                },
                materiasA:{

                },
                materiaBack:''
            }
        },
        mounted() {
            axios.get('api/materias').then((response) =>{
                this.materias = response.data.materias;
                this.grados = response.data.grados;
                this.profesores = response.data.profesores;
                this.materiasA = response.data.materiasA;
            });
            $("#b-barra").on("click",function(){
                if($(".collapse").hasClass("show")){
                    $(".barra").animate({
                        height: '57px'
                    },"fast");
                     
                }else{
                   $(".barra").animate({
                        height: '263px'
                    },"fast");
                }
            });
           
        },
        methods: {

            buscar(){
              
               
                    if($(".collapse").hasClass("show")){
                        $(".collapse").removeClass("show");    
                    }
                     $(".barra").animate({
                        height: '57px'
                    },"fast");
                     $(".barra").css({
                        "top": 11+'px',
                        "position":"relative"
                    });
                    $(".fondo").css({
                        "height": 80+'px',
                            "background":"#b0f1ac"
                    });

                     let parametros = {
                        titulo: this.titulo,
                        materia: this.materia,
                        profesor : this.profesor,
                        anio : this.anio,
                        busqueda:true,
                        
                    };
                  
                this.$emit('new', parametros);
                
                let height = $(document).height();
                let width = $(document).width();
                if(width<959){
                    $("#b-barra").show();
                }
             
            }

        },
    }
</script>

<style>
    @media screen and (min-width: 768px) {
        .input-text{
            width: 376px;
        }
        .barra{
              top: 48%;
        }
       
    }
    @media screen and (max-width: 768px) {
        .nav-item{
            margin-top: 5px;
            margin-bottom:5px;
        }
         .barra{
            top:38%;
        }
        .search-box{
            width:100%;
        }
        .input-text{
            width:92%;
        }
    }
    @media screen and (min-width: 959px) {
        .barra{
              width: 80%;
              left: 10%;
         }
    }
    @media screen and (max-width: 958px) {
         .barra{
              width: 100%;
              left: 0%;
         }
         #b-barra{
             display:none;
         }
    }
    .fondo{
        background:#b0f1ac;
          height: 612px;
          width:100%;
    }
    .general{
          width:100%;
    }
    .barra{
        background: #eeeeee;
        height: auto;
        position: absolute;
        border-radius: 10px 10px 10px 10px;
        z-index: 999;
    }
    .materia{
        border: none;
        height: 42px;
        width: 150px;
        padding: 7px 24px 7px 15px;
        border-radius: 5px 0 0 5px;
        -moz-border-radius: 5px 0 0 5px;
       -webkit-border-radius: 5px 5px 5px 5px;
        -o-border-radius: 5px 0 0 5px;
            -webkit-appearance: none;
    }
    .input-text{
        border: none;
      
        padding: 6px 6px 6px 10px;
        transition: all 0.4s ease 0s;
        -moz-transition: all 0.4s ease 0s;
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -o-border-radius: 0;
        height: 42px;
    }
    .search-box{
            display: inline-flex;
    }
    .search-btn{
        background: url(/images/sprite.png) no-repeat scroll -3px -84px #33D2DB;
        border: none;
        height: 42px;
        width: 45px;
        border-radius: 0 5px 5px 0;
        -moz-border-radius: 0 5px 5px 0;
        -webkit-border-radius: 0 5px 5px 0;
        -o-border-radius: 0 5px 5px 0;
    }

    .search-btn:hover {
        cursor: pointer;
        transition: all 0.4s ease-in-out 0s;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        -o-transition: all 0.4s ease-in-out 0s;
        background-position: -3px -118px;
       
    }
    #b-barra{
        border: 1px solid #bdbaba;
    }
</style>