<template>
    <div class="col-md-6 mt-4" >
        <div class="card card-default br-general" >
            <div class="card-header bg-light br-luis p-2 pl-3" style="  border-radius: 16px 16px 0px 0px;">
                   
                    <div class="row">
                        <div class="col-12">
                            <strong class="nombre">{{item.usuarios.nombre}} {{item.usuarios.apellido}}</strong>  
                            <p class="fecha m-0">{{item.updated_at}}</p>
                        </div>
                    </div>           
            </div>
            <div class="card-body p-3 cursor" v-on:click="modal()" data-toggle="modal" data-target=".bd-bibli-modal-lg">
                <ul class="lista p-0 m-0">
                    <li class="cortar"><strong class="mr-2">Título:</strong>{{item.titulo}}</li>
                    <li class="cortar" v-if="item.materias!=null"><strong class="mr-2">Materia:</strong>{{item.materias.nombre}}</li>
                    <li class="cortar" v-if="item.otras_materias!=null"><strong class="mr-2">Materia:</strong>{{item.otras_materias.nombre}}</li>
                    <li class="cortar"><strong class="mr-2">Año:</strong>{{item.grados.grado}}</li>
                    <li class="cortar"><strong class="mr-2">Descripción:</strong>{{item.descripcion}}</li>
                    <li class="cortar"><strong class="mr-2">Link de descarga:</strong><a href="">{{item.url}}</a></li>
                </ul>
            </div>
            <div class="card-footer">
               <a class="megusta touch" v-bind:id="item.id" v-on:click="megusta()" v-show="item.like==false"><i class="far fa-heart" id="megusta"></i></a>
               <a class="touch" v-on:click="nomegusta()" v-show="item.like==true"><i class="fas fa-heart" style="color:red;" id="nomegusta"></i></a> 
               <strong>{{ item.likes}} Me Gusta</strong>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name:'itemsBiblioteca',
        props:['item'],
        data(){
            return {
            
            };
        },
        mounted() {
            
        },
        methods: {
            modal(){
                this.$emit('modal');
            },
            megusta(){
               
                let parametros = {
                    like:true,
                    id_post: this.item.id
                };
                this.item.like= true;
                
                 axios.post('api/likeBibli',parametros).then((response) =>{
                    //this.item.like = response.data.like;
                    this.item.likes = response.data.post.likes;
                    let pase = {
                        likes: this.item.likes,
                        like:this.item.like
                    }
                    this.$emit('megusta',pase);
                }).catch(error => {
                    console.log(error);
                });
            },
            nomegusta(){
                let parametros = {
                    like:false,
                    id_post: this.item.id
                };
                this.item.like= false;
                 axios.post('api/dislikeBibli',parametros).then((response) =>{
                    //this.item.like = response.data.like;
                    this.item.likes = response.data.post.likes;
                    let pase = {
                        likes: this.item.likes,
                        like:this.item.like
                    }
                   this.$emit('nomegusta',pase);
                }).catch(error => {
                    console.log(error);
                });
           
                }
        },
    }
</script>

<style>
    .lista{
        list-style: none;
    }
    .cortar{
       width: 100%;
        height: auto;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .cursor{
        cursor:pointer;
    }
    .br-general{
         border-radius: 16px;
    }
    .br-luis{
        border-radius: 16px 16px 0px 0px;
    }
    .fecha{
        color: #aba8a8;
        font-size: 12px;
    }
    .nombre{
        font-size: 17px;
    }
    .touch:hover{
        cursor: pointer;
    }

</style>