<template>
    <div class="">
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted Main')
        },
        name:'main-app'
    }
</script>
