<template>
 <div class="general">
     <Header class="mb-0"></Header>
     <div id="wrapper">
         <Side></Side>
        <div id="content-wrapper">
            <Alertas :success="success" :danger="danger" :mensajes="mensajes"></Alertas>
            <Contenido @alerta="alerta"></Contenido>
        </div>
    </div>
</div>
</template>

<script>

import Side from '../../components/Navs/Side';
import Header from '../../components/Navs/Header.vue';
import Footer from '../../components/Navs/Footer.vue';
import Contenido from './Contenido.vue';
import Alertas from '../../components/Navs/Alerts.vue';
    export default {
        components:{
            Header,
            Side,
            Footer,
            Contenido,
            Alertas
        },data(){
            return{
                success:false,
                danger:false,
                mensajes:[],
            }
        },
        mounted() {
            if(this.$route.params.success!=null){
                console.log(this.$route.params.mensajes);
                this.success = this.$route.params.success;
                this.mensajes = this.$route.params.mensajes;
            }else if(this.$route.params.danger!=null){
                this.danger = this.$route.params.danger;
                this.mensajes = this.$route.params.mensajes;
            }
        },methods:{
            alerta(params){
                if(params.success!=null){
               
                this.success = params.success;
                this.mensajes = params.mensajes;
                }else if(params.danger!=null){
                    this.danger = params.danger;
                    this.mensajes = params.mensajes;
                }
            }
        }
    }
</script>