<template>
        <div class="container">
            <div class="alert alert-success" role="alert" v-if="success==true">
                    <div v-for="(mensaje,index) in mensajes" :key="index">
                        {{mensaje}}
                    </div>
            </div>
            <div class="alert alert-danger" v-if="danger==true">
                   <div v-for="(mensaje,index) in mensajes" :key="index">
                        {{mensaje}}
                    </div>
            </div>
        </div>
 
</template>

<script>
    export default {
        props:['success','danger','mensajes'],
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
