

<template>
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
            <span>Copyright © Your Website 2018</span>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
    
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>