<template>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light pl-5 pr-5 pt-0 pb-0 border-bottom shadow">

      <router-link v-if="$auth.user().rol_id == 3 || $auth.user().rol_id == 4" :to="{name:'RedSocial'}" class="navbar-brand w-50" href="javascript:void(0)"> 
        <img src="/images/logo.jpg" alt="" style="width: 71px;height: 68px;">
      </router-link>

      <router-link v-if="!$auth.check()" :to="{name:'login'}" class="navbar-brand w-50" href="javascript:void(0)"> 
        <img src="/images/logo.jpg" alt="" style="width: 71px;height: 68px;">
      </router-link>

      <router-link v-if="$auth.user().rol_id == 2" :to="{name:'AdminColegio'}" class="navbar-brand w-50" href="javascript:void(0)"> 
        <img src="/images/logo.jpg" alt="" style="width: 71px;height: 68px;">
      </router-link>

      <router-link v-if="$auth.user().rol_id == 1" :to="{name:'AdminSistema'}" class="navbar-brand w-50" href="javascript:void(0)"> 
        <img src="/images/logo.jpg" alt="" style="width: 71px;height: 68px;">
      </router-link>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown" v-if="$auth.check()">
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown no-arrow mx-1" id="nab">
                <a class="nav-link dropdown-toggle nover" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="badge badge-danger" v-if="num>0">{{num}}</span>
                    <i class="fas fa-envelope fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
              <a class="dropdown-item" href="javascript:void(0)">Bandeja de Entrada</a>
                </div>
            </li>
            
            <li class="nav-item dropdown no-arrow" id="nab">
                <a class="nav-link dropdown-toggle nover"  href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-fw"></i>
                    {{$auth.user().nombre}}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <router-link v-if="$auth.user().rol_id == 3" class="dropdown-item" :to="{name:'BibliotecaCrud'}">Tu Bibilioteca</router-link>
                    <div class="dropdown-divider"></div>
                    <a v-on:click="logout()" href="javascript:void(0);" class="dropdown-item">Logout</a>
                </div>
            </li>
          
        </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown" v-if="!$auth.check()">
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown no-arrow" id="nab" >
                <router-link :to="{name:'login'}" class="nav-link nover">
                    Login
                </router-link>
        </li>
        </ul>
    </div>

      
    </nav>
</div>
   
</template>
<script>
export default {
    data(){
        return{
            num:0
        }
    },
    mounted(){
       axios.get('api/notificaciones').then((response)=>{
           this.num = response.data.mensajes;
       }).catch((error)=>{
           alert("Ha ocurrido un error");
       });
    },methods:{
         logout() {
                this.$auth.logout({
                    makeRequest: true,
                    success() {
                        console.log('success ' + this.context);
                    },
                    error() {
                        console.log('error ' + this.context);
                    }
                });
            }
    }
}
</script>
<style>
@media screen and (max-width: 500px){
    .lgo{
    width: 25%;
    }
}
@media screen and (min-width: 500px){
   .lgo{
    width: 10%;
}
}


</style>

