<template>
<ul class="sidebar navbar-nav">
  <li class="nav-item">
      <a class="nav-link" href="#">
      <i class="fas fa-home"></i>
        <span>Home</span>
      </a>
    </li>
    <li class="nav-item active" id="dash"> 
      <router-link class="nav-link" :to="{name:'dashboard'}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </router-link>
    </li>
    <li class="nav-item dropdown" id="EditarW">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-edit"></i>
        <span>Editar</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <router-link :to="{name:'inicio'}" class="dropdown-item" href="#">Prueba</router-link>
      </div>
    </li>
</ul>
</template>

<script>
    export default {
        mounted() {
           console.log(this.$auth.user());
        }
    }
</script>