<template>
    <a href="/redsocial/publicacion" class="unstyle-link">
        <div class="card my-3">
            <div class="card-header">
                <div class="row">
                    <span class="ml-1">Adrian Gonzalez · Publicado hace 3 dias</span>
                </div>
                <div class="card-text">Proident incididunt aliqua excepteur nisi sint culpa consectetur occaecat duis proident.</div>
            </div>
            <div class="card-body">
                <p>
                    <a href="#">
                        <img src="https://via.placeholder.com/35" alt="Foto de Perfil" class="rounded-circle">
                    </a>
                    <span class="ml-1">Adrian Gonzalez · Publicado hace 5 horas </span>
                </p>
                <p>Velit minim laborum excepteur ullamco ullamco exercitation sunt.</p>
                <a href="#" class="card-link">Reportar</a>
            </div>
        </div>
    </a>
</template>

<script>
export default {
    mounted(){
        console.log("Component mounted");
    }
}
</script>
