<template>
 <div>
     <Header></Header>
    <div class="container">
        <div class="row d-block">
            <!-- Info Colegio -->
                <div class="card mt-3 mx-3 border-top-0 border-left-0 border-right-0">
                    <div class="card-body">
                        <div class="row">
                            <h5>
                                <a href="#" class="card-link">Publicaciones</a>
                                <a href="#" class="card-link">Comentarios</a>
                            </h5>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="col-8">
                <!-- Publicaciones -->
                    <Publicacion
                        v-for="publicacion in publicaciones"
                        :key="publicacion.id"
                        :publicacion="publicacion"
                    ></Publicacion>
                <!-- Comentarios -->
                    <UserComentario></UserComentario>
            </div>
            <div class="col-4">
                <!-- Panel de perfil -->
                    <div class="card my-3">
                        <div class="card-header">
                            <div class="row">
                                <img src="https://via.placeholder.com/50" alt="Foto de Perfil" class="rounded-circle">
                                <h4 class="ml-3 my-auto .align-text-bottom">Adrian Gonzalez</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <a name="" id="" class="btn btn-primary btn-block" href="#" role="button">Mi Perfil</a>
                            <button type="button" name="" id="" class="btn btn-primary btn-block">Biblioteca Virtual</button>
                        </div>
                    </div>
                <!-- Creacion de una publicacion -->
                    <div class="card my-3">
                        <div class="card-header">Crear Publicación</div>
                        <div class="card-body">
                            <form action="">
                                <!-- <div class="form-group form-row">
                                    <div class="col-2">
                                        <img src="https://via.placeholder.com/35" alt="Foto de Perfil" class="rounded-circle">
                                    </div>
                                    <div class="col-10">
                                        <textarea class="form-control" name="crear-publicacion" id="crear-publicacion" rows="3"></textarea>
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <textarea class="form-control" name="crear-publicacion" id="crear-publicacion" rows="3" placeholder="Escribe aquí..."></textarea>
                                </div>
                                <button type="button" class="btn btn-primary btn-block">Compartir</button>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
 </div>
</template>

<script>
import Publicacion from '../../components/redsocial/publicacion';
import UserComentario from '../../components/user/comentario';
import Header from '../../components/Navs/Header.vue';
export default {
    components:{
        Publicacion, UserComentario,Header
    },
    data(){
        return{
            publicaciones: [{
                id: 1,
                user: "Adrian Gonzalez",
                contenido: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nemo distinctio expedita, quibusdam repellendus dolores eum id qui tempore rem rerum, similique vitae est doloremque? Placeat natus labore cumque accusantium.",
                comentarios: [{
                    id: 1,
                    user: "Genesis Gomez",
                    contenido: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nemo distinctio expedita"
                },
                {
                    id: 2,
                    user: "Karen Gonzalez",
                    contenido: "distinctio expedita"
                }]
            },
            {
                id: 2,
                user: "Luis Alfaro",
                contenido: "Hora de jugar al fortnite",
                comentarios: [{
                    id: 1,
                    user: "Genesis Gomez",
                    contenido: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nemo distinctio expedita"
                }]
            }]
        }
    },
    mounted(){
        console.log("Component mounted");
    }
}
</script>
