<template>
 <div>
     <Header></Header>
    <div class="container">
        <div class="row">
            <div class="col-7">
                <!-- PUblicacion -->
                <div class="card my-3">
                    <div class="card-header">
                        <span class="float-left">
                            <a href="#">
                                <img src="https://via.placeholder.com/35" alt="Foto de Perfil" class="rounded-circle">
                            </a>
                            <span class="ml-1">Adrian Gonzalez · Publicado hace 5 horas</span>
                        </span>
                        <span class="float-right my-1"><a href="#" class="card-link">Reportar</a></span>
                    </div>
                    <div class="card-body pb-0">
                        Ipsum amet veniam ullamco commodo commodo mollit eu. Fugiat occaecat officia quis esse qui. Anim reprehenderit non fugiat in labore sit officia nostrud dolor Lorem.
                    </div>
                    <div class="card-body">
                        <form action="">
                            <div class="form-group">
                                <label for="comentario">Comente aquí</label>
                                <textarea class="form-control" name="comentario" id="comentario" rows="5"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Comentar</button>
                        </form>
                    </div>
                </div>
                <router-link to="/redsocial" class="btn btn-primary btn-block">Volver</router-link>
            </div>
            <div class="col-5">
                <!-- Comentarios -->
                <div class="card my-3">
                    <div class="card-header">
                        <h4 class="text-center">Comentarios · <span class="badge badge-secondary">4</span></h4>
                    </div>
                    <div class="comentarios-scroll">
                        <comentario></comentario>
                        <comentario></comentario>
                        <comentario></comentario>
                        <comentario></comentario>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
</template>
<script>
import Comentario from '../../components/redsocial/comentario';
import Header from '../../components/Navs/Header.vue';
 
export default {
    components: {
        Comentario,
        Header
    },
    mounted() {
    console.log("Component mounted publicacion extendido.");
  }
};
</script>

<style >
    .comentarios-scroll {
        height:75vh;
        overflow-y: scroll;
    }
</style>
