<template>
     <div style="background:url(/images/arch-bridge-clouds-814499.jpg) no-repeat center;height: -webkit-fill-available; display: -webkit-box;">
             <div class="container mt-5">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header p-0" style="display:-webkit-inline-box;" >
            <img src="/images/logo.jpg" alt="" style="width: 18%;height: 72px;" class="mt-3 ml-3"> 
            <h5 style="margin-left: -197px; margin-top: 38px;">¿Olvidó Contraseña?</h5>  
        </div>
                <div class="card-body">
                <div class="text-center mb-4">
                    <p>Ingrese su email para poder reestablecer su contraseña.</p>
                </div>
                <form @submit.prevent="forgot">
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="email" v-model="email" id="inputEmail" class="form-control" placeholder="Enter email address" required="required" autofocus="autofocus">
                            <label for="inputEmail">Enter email address</label>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
                      <div class="container"  v-if="cargar==true">
                            <div class="row">
                                <div class="loader">Loading...</div>
                            </div>
                        </div>
                </form>
                <div class="text-center mt-3">
                    <router-link class="d-block small" :to="{name:'login'}">Login Page</router-link>
                </div>
                </div>
            </div>
            </div>
              <div class="modal fade" id="exampleModalerror2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title bg-danger" id="exampleModalLabel">{{error}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                    </div>
                    </div>
                 </div>
                </div>

                 <div class="modal fade" id="exampleModalsuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title bg-success" id="exampleModalLabel">{{success}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
              </div>
            </div>
          </div>
        </div>


    </div>
</template>
<script>
export default {
    data(){
        return{
            email:'',
            error:'',
            invalid:false,
            success:'',
            cargar:false,
            logo:''
        }
    },
 
        mounted() {
            
        
    },methods:{
        forgot(){
            let params={
                email:this.email
            }
            this.cargar = true;
            axios.post('api/recover',params).then((response)=>{
                console.log(response.data);
                if(response.data.success==false){
                    $('#exampleModalerror2').modal('show');
                    this.cargar = false;
                    this.error = response.data.error.email;
                }else{
                     $('#exampleModalsuccess').modal('show');
                      this.cargar = false;
                     this.success = response.data.data.msg;
                }
            }).catch((error)=>{
                console.log(error);
            });
        }
    }
}
</script>

