<template>
  <div style="background:url(/images/arch-bridge-clouds-814499.jpg) no-repeat center;height: -webkit-fill-available; display: -webkit-box;">
     <div class="container mt-5">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header p-0" style="display:-webkit-inline-box;" >
            <img src="/images/logo.jpg" alt="" style="width: 18%;height: 72px;" class="mt-3 ml-3"> 
            <h5 style="margin-left: -197px; margin-top: 38px;">Iniciar Sesion</h5>  
        </div>
        <div class="card-body">
          <form @submit.prevent="login">
            <div class="form-group">
              <div class="form-label-group">
                <input v-model="email" type="email" id="inputEmail" v-bind:class="'form-control '+clase.email" placeholder="Email address" required="required" autofocus="autofocus">
                <label for="inputEmail">Email address</label>
                 <div v-if="error.email==true" class="text-danger ml-2 mt-1">No estas Registrado</div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input v-model="password" type="password" id="inputPassword" v-bind:class="'form-control '+clase.password" minlength="6" placeholder="Password" required="required">
                <label for="inputPassword">Password</label>
                <div v-if="error.password==true" class="text-danger ml-2 mt-1">Constraseña Invalida</div>
              </div>
            </div>
            <!--<div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="remember-me">
                  Remember Password
                </label>
              </div>
            </div>-->
            <button type="submit" class="btn btn-primary btn-block">Login</button>
              <div style="display:none;" class="loader">Loading...</div>
          </form>
          <div class="text-center mt-3">
         
            <router-link class="d-block small" :to="{name:'forgot'}">Forgot Password?</router-link>
          </div>
        </div>
      </div>
    </div>
        <div class="modal fade" id="exampleModalerror" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{errores}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
              </div>
            </div>
          </div>
        </div>
</div>
</template>

<script>
    export default {
        data(){
            return {
                email: null,
                password: null,
                error: false,
                errores:'',
                logo:'',
                clase:{
                  email:'',
                  password:''
                },
                error:{
                  email:false,
                  password:false
                }
            }
        },
        mounted() {
          console.log("login");
        },

        methods: {
            login(){
              this.clase={
                  email:'',
                  password:''
                }
                this. error={
                  email:false,
                  password:false
                }
              $('.loader').show();
                this.$auth.login({
                    params: {
                        email: this.email,
                        password: this.password
                    }, 
                    success: function (resp) {
                       //toastr['success']('Logged In!', 'Success');
                        toastr.success('Sesion Iniciada', 'Success', {timeOut: 1000})
                         this.$auth.user(resp.data.user.original.data);
                         if(this.$auth.user().rol_id == 4 || this.$auth.user().rol_id == 3){
                            this.$router.push('/redsocial');
                         }else if(this.$auth.user().rol_id == 2){
                            this.$router.push('/admin/colegio');
                         }else if (this.$auth.user().rol_id == 1){
                            this.$router.push('/admin/sistema');
                         }       
                         $('.loader').hide();
                        
                    },
                    error: function (resp) {
                        //alert(resp.response.data.message);
                        this.errores = resp.response.data.message;
                        toastr.error(this.errores,'Error' ,{timeOut: 2000})
                        $('.loader').hide();

                        if(resp.response.data.error == 'invalid.email'){
                            this.clase.email = "border border-danger";
                            this.error.email = true;
                        }else if( resp.response.data.error == 'invalid.password'){
                            this.clase.password = "border border-danger";
                            this.error.password = true;
                        }

                    },
                    rememberMe: true,
                    redirect: {},
                    fetchUser: true,
                });  
                
            //         let params ={
            //         email : this.email,
            //         password : this.password
            //     }
            //    axios.post('/auth/login',params).then((response)=>{
            //        console.log(response);
            //    }).catch((error)=>{
            //        console.log(error);
            //    });
            
            },
        }
    }   
</script>
<style>
.loader {
  color: rgb(36, 87, 69);
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
</style>
