<template>
<div>
     <Header></Header>
        <div class="container mb-4 mx-auto" >
            <div class="container mt-5 mx-auto">
                <div class="row mt-5 mx-auto">
                    <h1 class="mx-auto">No se encontro la pagina</h1>
                </div>
            </div>
        </div>
</div>       
</template>
<script>
import Header from '../Navs/Header.vue';
export default {
    components:{
     Header
    }
}
</script>
