<template>
     <div class="modal fade b-bibli-new-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="card-header bg-light br-luis  p-2 pl-3" style="  border-radius: 16px 16px 0px 0px;">
                        Nueva Publicación
                    </div>
                    <div class="card-body p-3">
                        <form v-on:submit.prevent="agregar()" >
                            <div class="form-group">
                                <label for="tittle" >Titulo</label>
                                <input v-model="ntitulo" type="text" name="titulo" value="" class="form-control nnuevo" required>
                            </div>
                            <div class="form-group">
                                <label for="tittle" >Descripcion</label>
                                 <textarea v-model="ndescripcion" class="form-control nnuevo" rows="2" required></textarea>
                            </div>

                            <div class="btn-group btn-group-toggle mb-3" data-toggle="buttons">
                                <label for="tittle" class="mr-3">Tipo de Materia</label>
                                <label class="btn btn-secondary rounded-left radio" v-on:click="cambiarmatt()"> 
                                    <input type="radio" name="options" v-model="nprivada"  id="opt1" autocomplete="off"> Materia
                                </label>
                                <label class="btn btn-secondary rounded-right radio"  v-on:click="cambiarmatf()">
                                    <input type="radio" name="options" v-model="nprivada"  id="opt2" autocomplete="off"> Materia Adicional
                                </label>
                            </div>

                             <div class="form-group" v-if="bmateria==true">
                                <label for="tittle" >Materia</label>
                                <select v-model="nmateria"  class="materia nnuevo" name="search-category" style="  background: url(../images/select-icon1.png) no-repeat scroll right 50% #d6d6d6 !important;">
                                <option value="">Materia</option>
                                <option v-for="materia in materias"
                                :key="materia.nombre"
                                v-bind:value="materia.id"
                                >
                                {{materia.nombre}}
                                </option>
                            </select>
                            </div>
                        
                             <div class="form-group" v-if="bmateria==false">
                                <label for="tittle" >Materias Adicionales</label>
                                <select v-model="nadicional"  class="materia nnuevo" name="search-category" style="  background: url(../images/select-icon1.png) no-repeat scroll right 50% #d6d6d6 !important;">
                                <option value="">Materia</option>
                                <option v-for="materia in adicionales"
                                :key="materia.nombre"
                                v-bind:value="materia.id"
                                >
                                {{materia.nombre}}
                                </option>
                            </select>
                            </div>
                            
                             <div class="form-group">
                                <label for="tittle" >Año</label>                            
                                <select v-model="nanio" id="search-category" class="materia nnuevo" name="search-category" style="  background: url(../images/select-icon1.png) no-repeat scroll right 50% #d6d6d6 !important;" required>
                                <option value="">Año</option>
                                <option v-for="grado in grados"
                                :key="grado.id"
                                    v-bind:value="grado.id"
                                    >
                                    {{grado.grado}}
                                    </option>
                                </select>
                            </div>
                            <div class="btn-group btn-group-toggle mb-3" data-toggle="buttons">
                                <label for="tittle" class="mr-3">Privacidad</label>
                                <label class="btn btn-secondary rounded-left radio" id="privada">
                                    <input type="radio" name="options" v-model="nprivada" value="privada" id="opt1" autocomplete="off"> Privada
                                </label>
                                <label class="btn btn-secondary rounded-right radio" id="publica">
                                    <input type="radio" name="options" v-model="nprivada" value="publica" id="opt2" autocomplete="off"> Pública
                                </label>
                            </div>
                            <div class="form-group mb-3">
                                <div class="btn-group btn-group-toggle mb-3" data-toggle="buttons">
                                    <label for="tittle" class="mr-3">Archivo o Url</label>
                                    <label class="btn btn-secondary rounded-left radio" v-on:click="cambaraarchivo()">
                                        <input type="radio" name="options" v-model="nprivada" id="opt1" autocomplete="off"> Archivo
                                    </label>
                                    <label class="btn btn-secondary rounded-right radio" v-on:click="cambiaraurl()">
                                        <input type="radio" name="options" v-model="nprivada" id="opt2" autocomplete="off"> Url
                                    </label>
                                </div>
                            </div>
                            <div class="form-group mb-3" v-if="barchivo==true">
                            <label for="exampleFormControlTextarea1" class="mr-4">Archivo</label>
                                <div class="mb-2 custom-file col-md-6" id="divv">
                                    <input type="file" v-on:change="Archivo" class="custom-file-input" id="">
                                    <label class="custom-file-label" >{{nombreArchivo}}</label>
                                </div>
                            </div>
                             <div class="form-group" v-if="barchivo==false">
                                <label for="tittle" >Url</label>
                                <input v-model="nurl" type="text" name="titulo" value="" class="form-control nnuevo">
                            </div>
                              <div class="alert alert-danger" v-if="danger==true">
                                    <div v-for="(mensaje,index) in mensajes" :key="index">
                                            {{mensaje}}
                                        </div>
                                </div>
                             <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click="vaciar()">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                            </div> 
                        </form>   
                    </div>
                </div>
            </div>
        </div>
</template>
<script>
export default {
    props:['materias','grados','adicionales'],
    data(){
        return{
             ntitulo:'',
                ndescripcion:'',
                nmateria:'',
                nadicional:'',
                nanio:'',
                nprivada:'',
                npublica:'',
                nprivacidad:'',
                nurl:'',
                bmateria:true,
                barchivo:true,
                nurl:'',
                nombreArchivo:'',
                ArchivoEnviar:null,
                danger:false,
                mensajes:[]
        }
    },
    mounted(){

    },
    methods:{
         agregar(){
            let priva;
            if($("#privada").hasClass("active")){
                priva = 1;
            }else if($("#publica").hasClass("active")){
                priva=0;
            }else{
                priva = 1
            }

            if(this.bmateria == true){
                this.nadicional = "";
                if(this.nmateria==""){
                    alert("Ingrese Materia:");
                    return;
            }
            }else{
                this.nmateria = "";
                if(this.nadicional==""){
                    alert("Ingrese Materia Adicional:");
                    return;
                }
            }


            if(this.barchivo==true){
                if(this.ArchivoEnviar==null){
                    alert("Ingrese Archivo");
                    return;
                }else{
                    const config = {
                        headers: { 'content-type': 'multipart/form-data' }
                    }

                    let formData = new FormData();
                    formData.append('titulo', this.ntitulo);
                    formData.append('descripcion',this.ndescripcion);
                    formData.append('materia',this.nmateria);
                    formData.append('adicional',this.nadicional);
                    formData.append('grado',this.nanio);
                    formData.append('privacidad',priva);
                    formData.append('tipoURL','Archivo');
                    formData.append('archivo',this.ArchivoEnviar);
                    formData.append('nombrearchivo',this.nombreArchivo);

                     axios.post('api/agregarPostBibli',formData,config).then((response) => {
                        if(response.data.errores!=null){
                            this.danger = true;
                            this.mensajes = response.data.errores.customMessages;
                            console.log(this.mensajes);
                        }else{
                            console.log(response.data.bibli);
                            this.$emit('agregar',response.data.bibli); 
                            this.$emit('mensaje',response.data.mensajes);                       
                            this.vaciar();
                            $(".b-bibli-new-lg").modal("hide");
                        }
                           
                    }).catch((error) => {
                        alert("Ha ocurrido un error");
                    });

                  
                }
              
            }else{
                if(this.nurl==""){
                    alert("Ingrese Url:");
                    return;
                }else{
                    let item={
                        titulo : this.ntitulo,
                        descripcion : this.ndescripcion,
                        materia : this.nmateria,
                        adicional : this.nadicional,
                        grado : this.nanio,
                        privacidad:priva,
                        url:this.nurl,
                        tipoURL:"URL"
                    };
                    axios.post('api/agregarPostBibli',item).then((response) => {
                        console.log(response.data.bibli);
                        this.$emit('agregar',response.data.bibli);    
                        this.$emit('mensaje',response.data.mensajes);                                     
                        this.vaciar();
                        $(".b-bibli-new-lg").modal("hide");                                                                                           
                    }).catch((error) => {
                        alert("Ha ocurrido un error");
                    });


                
                }
            }
            },cambiarmatt(){
                this.bmateria=true;
            },cambiarmatf(){
                this.bmateria = false;
            },
            vaciar(){
                $(".nnuevo").val('');
                this.ntitulo='';
                this.ndescripcion='';
                this.nmateria='';
                this.nanio='';
                this.nadicional='';
                this.danger = false;
                this.nombreArchivo='';
                this.nurl= "";
                 $('.active').removeClass("active");
            },
            cambaraarchivo(){
                this.barchivo = true;
                this.nurl = "";
            },
            cambiaraurl(){
                this.barchivo = false;
                this.ArchivoEnviar = null;
                this.nombreArchivo = "";
            },
            Archivo(e){
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;

                this.ArchivoEnviar = e.target.files[0];
                this.nombreArchivo = this.ArchivoEnviar.name;
               
            }
    }
}
</script>
