<template>
     <!-- EDITARRRRRRRRRRRRRRRRRRRRRRRR-->
         <div class="modal fade b-bibli-edit-lg" tabindex="-1" id="edit" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="card-header bg-light br-luis  p-2 pl-3" style="  border-radius: 16px 16px 0px 0px;">
                        Editar Publicación
                    </div>
                    <div class="card-body p-3">
                        <form v-on:submit.prevent="editar()">
                            <div class="form-group">
                                <label for="tittle" >Titulo</label>
                                <input v-model="titulo" type="text" name="titulo" class="form-control nnuevo" required>
                             
                            </div>
                             <div class="form-group">
                                <label for="tittle" >Descripcion</label>
                                 <textarea v-model="descripcion" class="form-control nnuevo" rows="2" required></textarea>
                            </div>
                            <div class="btn-group btn-group-toggle mb-3" data-toggle="buttons">
                                <label for="tittle" class="mr-3">Tipo de Materia</label>
                                <label v-bind:class="'btn btn-secondary rounded-left radio '+cmateria" id="option1" v-on:click="cambiarmatt()"> 
                                    <input type="radio" name="options" v-model="nprivada"  id="opt1" autocomplete="off"> Materia
                                </label>
                                <label v-bind:class="'btn btn-secondary rounded-right radio '+cadicional" id="option2" v-on:click="cambiarmatf()">
                                    <input type="radio" name="options" v-model="nprivada"  id="opt2" autocomplete="off"> Materia Adicional
                                </label>
                            </div>

                             <div class="form-group" v-if="bmateria==true">
                                <label for="tittle" >Materia</label>
                                <select v-model="nmateria"  class="materia nnuevo" name="search-category" style="  background: url(../images/select-icon1.png) no-repeat scroll right 50% #d6d6d6 !important;">
                                <option value="">Materia</option>
                                <option v-for="materia in materias"
                                :key="materia.nombre"
                                v-bind:value="materia.id"
                                >
                                {{materia.nombre}}
                                </option>
                            </select>
                            </div>
                        
                             <div class="form-group" v-if="bmateria==false">
                                <label for="tittle" >Materias Adicionales</label>
                                <select v-model="nadicional"  class="materia nnuevo" name="search-category" style="  background: url(../images/select-icon1.png) no-repeat scroll right 50% #d6d6d6 !important;">
                                <option value="">Materia</option>
                                <option v-for="materia in adicionales"
                                :key="materia.nombre"
                                v-bind:value="materia.id"
                                >
                                {{materia.nombre}}
                                </option>
                            </select>
                            </div>
                           <div class="form-group">
                                <label for="tittle" >Año</label>                            
                                <select v-model="nanio" id="search-category" class="materia nnuevo" name="search-category" style="  background: url(../images/select-icon1.png) no-repeat scroll right 50% #d6d6d6 !important;" required>
                                <option value="">Año</option>
                                <option v-for="grado in grados"
                                :key="grado.id"
                                    v-bind:value="grado.id"
                                    >
                                    {{grado.grado}}
                                    </option>
                                </select>
                            </div>
                            <div class="btn-group btn-group-toggle mb-3" data-toggle="buttons">
                                <label for="tittle" class="mr-3">Privacidad</label>
                                <label v-bind:class="'btn btn-secondary rounded-left radio '+cprivada" id="privada">
                                    <input type="radio" name="options"  value="privada" id="opt1" autocomplete="off"> Privada
                                </label>
                                <label v-bind:class="'btn btn-secondary rounded-right radio '+cpublica" id="publica">
                                    <input type="radio" name="options" value="publica" id="opt2" autocomplete="off"> Pública
                                </label>
                            </div>
                        <div class="form-group mb-3">
                                <div class="btn-group btn-group-toggle mb-3" data-toggle="buttons">
                                    <label for="tittle" class="mr-3">Archivo o Url</label>
                                    <label v-bind:class="'btn btn-secondary rounded-left radio '+carchivo" v-on:click="cambaraarchivo()">
                                        <input type="radio" name="options" v-model="nprivada" id="opt1" autocomplete="off"> Archivo
                                    </label>
                                    <label v-bind:class="'btn btn-secondary rounded-right radio '+curl" v-on:click="cambiaraurl()">
                                        <input type="radio" name="options" v-model="nprivada" id="opt2" autocomplete="off"> Url
                                    </label>
                                </div>
                            </div>
                            <div class="form-group mb-3" v-if="barchivo==true">
                            <label for="exampleFormControlTextarea1" class="mr-4">Archivo</label>
                                <div class="mb-2 custom-file col-md-6" id="divv">
                                    <input type="file" v-on:change="Archivo" class="custom-file-input" id="">
                                    <label class="custom-file-label" >{{nombreArchivo}}</label>
                                </div>
                            </div>
                             <div class="form-group" v-if="barchivo==false">
                                <label for="tittle" >Url</label>
                                <input v-model="nurl" type="text" name="titulo" value="" class="form-control nnuevo">
                            </div>
                             <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                            </div> 
                        </form>   
                    </div>
                </div>
            </div>
         </div>
</template>
<script>
import {bus} from '../../app';
export default {
    props:['materias','grados','adicionales'],
    data(){
        return{
            titulo:'',
            descripcion:'',
            nprivada:'',
            nmateria:'',
            nanio:'',
            nadicional:'',
            cpublica:'',
            cprivada:'',
            id:'',
            bmateria:'',
            pasar:'',
            cmateria:'',
            cadicional:'',
            archivo:false,
            barchivo:false,
            nurl:'',
            ArchivoEnviar:'',
            nombreArchivo:'',
            carchivo:'',
            curl:''
        }
    },
    mounted(){
        bus.$on('customEventName', this.submit);
    },
    methods:{
        cambiarmatt(){
            this.bmateria=true;
        },cambiarmatf(){
            this.bmateria = false;
        },
        submit(objeto){
            //console.log(index);
            this.pasar = objeto;
            console.log(this.pasar);
            this.titulo= this.pasar.titulo;
            this.descripcion =this.pasar.descripcion;
            this.nprivada = this.pasar.privacidad;
            if(this.nprivada == 0){
                this.cpublica = "active focus";
            }else{
                this.cprivada = "active focus";
            }
            this.nanio = this.pasar.grado_id;
            this.id = this.pasar.id;
            if(this.pasar.materias!=null){
                this.bmateria = true;
                this.nmateria = this.pasar.materias.id;
                this.cmateria = "active focus";
            }else{
                this.bmateria = false;
                this.nadicional = this.pasar.otras_materias.id;
                this.cadicional = "active focus";
            }
            this.barchivo = this.pasar.archivo;
            if(this.barchivo == true){
                this.carchivo = "active focus";
            }else{
                this.curl = "active focus";
                this.nurl = this.pasar.url;
            }
        },
         cambaraarchivo(){
            this.barchivo = true;
            this.nurl = "";
        },
        cambiaraurl(){
            this.barchivo = false;
            this.ArchivoEnviar = null;
            this.nombreArchivo = "";
        },
        Archivo(e){
            let files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;

            this.ArchivoEnviar = e.target.files[0];
            this.nombreArchivo = this.ArchivoEnviar.name;
        },
        editar(){
            let priva;
            if($("#privada").hasClass("active")){
                priva = 1;
            }else if($("#publica").hasClass("active")){
                priva=0;
            }else{
                priva = 1
            }

            if(this.bmateria == true){
                this.nadicional = "";
                if(this.nmateria==""){
                      toastr.error('Ingrese Materia', 'Error', {timeOut: 1000})
                    return;
            }
            }else{
                this.nmateria = "";
                if(this.nadicional==""){
                   toastr.error('Ingrese materia Adicional', 'Error', {timeOut: 1000})
                    return;
                }
            }


            if(this.barchivo==true){
                if(this.ArchivoEnviar==null){
                       toastr.error('Ingrese Archivo', 'Error', {timeOut: 1000})
                    return;
                }else{
                    const config = {
                        headers: { 'content-type': 'multipart/form-data' }
                    }

                    let formData = new FormData();
                    formData.append('titulo', this.ntitulo);
                    formData.append('descripcion',this.ndescripcion);
                    formData.append('materia',this.nmateria);
                    formData.append('adicional',this.nadicional);
                    formData.append('grado',this.nanio);
                    formData.append('privacidad',priva);
                    formData.append('tipoURL','Archivo');
                    formData.append('archivo',this.ArchivoEnviar);
                    formData.append('nombrearchivo',this.nombreArchivo);

                     axios.post('api/agregarPostBibli',formData,config).then((response) => {
                        if(response.data.errores!=null){
                            this.danger = true;
                            this.mensajes = response.data.errores.customMessages;
                            console.log(this.mensajes);
                        }else{
                            console.log(response.data.bibli);
                            this.$emit('agregar',response.data.bibli); 
                            this.$emit('mensaje',response.data.mensajes);                       
                            this.vaciar();
                            $(".b-bibli-new-lg").modal("hide");
                        }
                           
                    }).catch((error) => {
                           toastr.error('Ha Ocurrido un error ', 'Error', {timeOut: 1000})
                    });

                  
                }
              
            }else{
                if(this.nurl==""){
                    toastr.error('Ingrese url', 'Error', {timeOut: 1000})
                    return;
                }else{
                    let item={
                        titulo : this.ntitulo,
                        descripcion : this.ndescripcion,
                        materia : this.nmateria,
                        adicional : this.nadicional,
                        grado : this.nanio,
                        privacidad:priva,
                        url:this.nurl,
                        tipoURL:"URL"
                    };
                    axios.post('api/agregarPostBibli',item).then((response) => {
                        console.log(response.data.bibli);
                        this.$emit('agregar',response.data.bibli);    
                        this.$emit('mensaje',response.data.mensajes);                                     
                        this.vaciar();
                        $(".b-bibli-new-lg").modal("hide");                                                                                           
                    }).catch((error) => {
                        alert("Ha ocurrido un error");
                    });


                
                }
            }
        }
    }
    
}
</script>
