<template>
     <div class="modal fade b-bibli-eliminar-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
            <div class="modal-content mt-5">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Seguro Desea Elimninar Este Post?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger eliminar" v-on:click="eliminarDefinitivo()">Eliminar</button>
            </div>
            </div>
    </div>
    </div>
</template>
<script>
export default {
    methods:{
        eliminarDefinitivo(){
              this.$emit('eliminarDefinitivo');
        }
    }
}
</script>
