<template>
     <div class="col-md-6 mt-4 eli" >
        <div class="card card-default br-general" >
            <div class="card-header bg-light br-luis p-2 pl-3" style="  border-radius: 16px 16px 0px 0px;">
                   
                    <div class="row mr-1">
                        <div class="col-8">
                            <strong class="nombre">{{item.usuarios.nombre}} {{item.usuarios.apellido}}</strong>  
                            <p class="fecha m-0">{{item.updated_at}}</p>
                        </div>
                        <div class="col-4 derecha">
                            <strong v-if="item.privacidad==1">Privacidad: Privada</strong>
                            <strong v-if="item.privacidad==0">Privacidad: Pública</strong>
                          
                        </div>
                    </div>           
            </div>
            <div class="card-body p-3 cursor" v-on:click="modal()" data-toggle="modal" data-target=".b-bibli-modal-lg">
                <ul class="lista p-0 m-0">
                    <li class="cortar"><strong class="mr-2">Título:</strong>{{item.titulo}}</li>
                    <li class="cortar" v-if="item.materias!=null"><strong class="mr-2">Materia:</strong>{{item.materias.nombre}}</li>
                    <li class="cortar" v-if="item.materias==null"><strong class="mr-2">Materia:</strong>{{item.otras_materias.nombre}}</li>
                    <li class="cortar"><strong class="mr-2">Año:</strong>{{item.grados.grado}}</li>
                    <li class="cortar"><strong class="mr-2">Descripción:</strong>{{item.descripcion}}</li>
                    <li class="cortar"><strong class="mr-2">Link de descarga:</strong><a href="">{{item.url}}</a></li>
                </ul>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-6">
                        <a class="megusta touch" v-on:click="megusta()" v-show="item.like==false"><i class="far fa-heart" id="megusta"></i></a>
                        <a class="touch" v-on:click="nomegusta()" v-show="item.like==true"><i class="fas fa-heart" style="color:red;" id="nomegusta"></i></a> 
                        <strong>{{ item.likes}} Me Gusta</strong>
                    </div>
                    <div class="col-6 derecha">
                        <button class="btn btn-primary"  data-toggle="modal" data-target="#edit" v-on:click="edit()">Editar</button>
                        <button class="btn btn-danger" v-on:click="borrar()" data-toggle="modal" data-target=".b-bibli-eliminar-lg">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name:'itemsBibli',
        props:['item','materias','grados','adicionales'],
        components:{
          
        },  
        data(){
            return{
                id:0,
                titulo:'',
                prfesor:'',
                nanio:'',
                nmateria:'',
                descripcion:'',
                url:'',
                likes:0,
                updated_at:'',
                bmateria:'',
                nadicional:'',
                nprivada:'',
                pasar:''
            }
        },
        mounted() {
            this.titulo = this.item.titulo;
            this.descripcion = this.item.descripcion;
            this.nanio = this.item.grados.id;
            if(this.item.materias!=null){
                this.bmateria = true;
                this.nmateria = this.item.materias.id;
              
            }else{
                this.bmateria = false;
                this.nadicional = this.item.otras_materias.id;
            }
            this.nprivada = this.item.privacidad;
            this.id = this.item.id;
        },
        methods: {
            borrar(){
                this.$emit('eliminar');
            },edit(){
                this.$emit('edit');
            },
             modal(){
                this.$emit('modal');
                },
                megusta(){
               
                let parametros = {
                    like:true,
                    id_post: this.item.id
                };
                this.item.like= true;
              

                 axios.post('api/likeBibli',parametros).then((response) =>{
                   // this.item.like = response.data.like;
                    this.item.likes = response.data.post.likes;
                    let pase = {
                        likes: this.item.likes,
                        like:this.item.like
                    }
                    //this.$emit('megusta',pase);
                }).catch(error => {
                    console.log(error);
                });
            },
            nomegusta(){
                let parametros = {
                    like:false,
                    id_post: this.item.id
                };
                this.item.like= false;
              
                 axios.post('api/dislikeBibli',parametros).then((response) =>{
                   // this.item.like = response.data.like;
                    this.item.likes = response.data.post.likes;
                    let pase = {
                        likes: this.item.likes,
                        like:this.item.like
                    }
                   //this.$emit('nomegusta',pase);
                }).catch(error => {
                    console.log(error);
                });
           
                },
            cambiarmatt(){
                this.bmateria=true;
            },cambiarmatf(){
                this.bmateria = false;
            }
        },
    }
</script>

<style>
    .derecha{
            text-align: right;
    }
</style>