<template>
 <div>
     <Header></Header>
    <div class="container mb-4">
          <div class="container mt-3">
            <div class="alert alert-success" role="alert" v-if="success==true">
                    <div v-for="(mensaje,index) in mjs" :key="index">
                        {{mensaje}}
                    </div>
            </div>
          </div>
        <div class="row mt-4">
            <div class="col-12 centro">
                <button class="btn btn-primary" data-toggle="modal" data-target=".b-bibli-new-lg">Agregar</button>
            </div>
        </div>
        <div class="row">
            <itemsBibli  v-for="(item,index) in items"
            :key="item.id"
            :item="item"
            :id="index"
            :grados="grados"
            :materias="materias"
            :adicionales="adicionales"
            @eliminar="eliminar(index)"
            @modal="abrirModal(index)"
            @edit="editar(index)"
            >
            </itemsBibli>
        </div>
        <!-- MODAL VIZUALIZAR COMPLETO-->
        <Visualizar :itemm="itemm"></Visualizar>
        <!--MODAL AGREGAR POST-->
        <Agregar :adicionales="adicionales" :grados="grados" :materias="materias" @agregar="agregar(...arguments)" @mensaje="mensajes(...arguments)"></Agregar>
        <!--MODAL ELIMINAR-->
        <Eliminar @eliminarDefinitivo="eliminarDefinitivo"></Eliminar>
        <!-- MODAL EDITAR -->
        <Editar :grados="grados" :materias="materias" :adicionales="adicionales" ></Editar>
    </div>
 </div>
</template>

<script>
import itemsBibli from './items-bibli.vue';
import Agregar from './Agregar.vue';
import Header from '../../components/Navs/Header.vue';
import Visualizar from './Visualizar.vue';
import Eliminar from './eliminar';
import Editar from './editar';

import {bus} from '../../app';

    export default {
        name:'BibliotecaLista',
        components:{
            itemsBibli,
            Agregar,
            Header,
            Visualizar,
            Eliminar,
            Editar
        },
        mounted() {
            axios.get('api/obtenerinfo').then((response) => {
                    console.log(response.data);
                    this.grados = response.data.grados;
                    this.materias = response.data.materias;
                    this.items = response.data.bibliotecas;
                    this.adicionales = response.data.adicionales;
                }).catch((error) => {
                    alert("Ha ocurrido un error");
            });
        },
        data(){
            return{
                Aeliminar:0,
                materias:[],
                adicionales:[],
                grados:[],
                itemm:{
                    'id':0,
                    'titulo':'',
                    'profesor':'',
                    'anio':'5to',
                    'materia':'',
                    'descripcion':'',
                    'url':'',
                    'likes':0,
                    'updated_at':''
                },
                items:[],
                success:false,
                mjs:[],
                index_editar:''
            }
        },
        methods: {
            eliminar(index){
                this.Aeliminar=index;
            },
            eliminarDefinitivo(){
                let inn = this.Aeliminar;
                let itemms = this.items;
                let params = {
                    id:this.items[inn].id
                }
                axios.post("api/eliminarbiblioteca",params).then((response)=>{
                    console.log(response.data.mensaje);
                    $('.b-bibli-eliminar-lg').modal('hide');
                    $("#"+inn).css({
                        "position":"relative"
                    });
                    $("#"+inn).animate({
                        "right": 600+'px',
                        "opacity":0.2
                    },700,function(){
                            itemms.splice(inn,1);
                    });
                }).catch((error)=>{
                    alert("Ha ocurrido un error")
                })
            },
            abrirModal(index){
                this.itemm.titulo = this.items[index].titulo;
                this.itemm.descripcion = this.items[index].descripcion;
                this.itemm.likes = this.items[index].likes;
                this.itemm.profesor = this.items[index].usuarios.nombre + " "+this.items[index].usuarios.apellido;
                this.itemm.materia = this.items[index].materias.nombre;
                this.itemm.anio = this.items[index].grados.grado;
                this.itemm.url = this.items[index].url;
                this.itemm.updated_at =this.items[index].updated_at;
            },
            editar(index){
                bus.$emit('customEventName', this.items[index]);
                this.index_editar = index;
                //this.items[index] = item5;
            },
            agregar(bibli){
                this.items.unshift(bibli);
            },
            mensajes(mensajes){
                this.success = true;
                this.mjs = mensajes;
                let _this = this;
                setInterval(function(){
                    _this.success = false;
                },2000);
            }
        },
    }
</script>

<style>
    .centro{
        text-align:center;
    }
</style>