<template>
     <div class="modal fade b-bibli-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content mt-luis">
                    <div class="card-header bg-light br-luis  p-2 pl-3" style="  border-radius: 16px 16px 0px 0px;">
                            <div class="row">
                                  <div class="col-12">
                                    <strong class="nombre">{{itemm.profesor}}</strong>  
                                    <p class="fecha m-0">{{itemm.updated_at}}</p>
                                </div>
                            </div>           
                    </div>
                    <div class="card-body p-3">
                        <ul class="lista p-0 m-0">
                            <li><strong class="mr-2">Título:</strong>{{itemm.titulo}}</li>
                            <li><strong class="mr-2">Materia:</strong>{{itemm.materia}}</li>
                            <li><strong class="mr-2">Año:</strong>{{itemm.anio}}</li>
                            <li><strong class="mr-2">Descripción:</strong>{{itemm.descripcion}}</li>
                            <li><strong class="mr-2">Link de descarga:</strong><a href="">{{itemm.url}}</a></li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <i class="far fa-heart"></i><a href="">{{ itemm.likes}} Me Gusta</a>
                    </div>
                </div>
            </div>
        </div>
</template>
<script>
export default {
    name:'Visualizar',
    props:['itemm']
}
</script>
