<template>
    <div class="card-body mx-2 border-bottom">
        <p>
            <a href="#">
                <img src="https://via.placeholder.com/35" alt="Foto de Perfil" class="rounded-circle">
            </a>
            <span class="ml-1">Adrian Gonzalez · Publicado hace 5 horas </span>
        </p>
        <p>Velit minim laborum excepteur ullamco ullamco exercitation sunt.</p>
        <a href="#" class="card-link">Reportar</a>
    </div>
</template>
<script>
export default {
    mounted() {
    console.log("Component mounted comentarios.");
  }
};
</script>
