<template>
    <router-link to="/redsocial/publicacion" class="unstyle-link">
        <div class="card my-3">
            <div class="card-header">
                <span class="float-left">
                    <a href="#">
                        <img src="https://via.placeholder.com/35" alt="Foto de Perfil" class="rounded-circle">
                    </a>
                    <span class="ml-1">{{ publicacion.user }}</span>
                </span>
                <span class="float-right my-1">Publicado hace 3 dias</span>
            </div>
            <div class="card-body pb-0">
                {{ publicacion.contenido }}
            </div>
            <div class="card-body">
                <a href="#" class="card-link">{{ publicacion.comentarios.length }} Comentarios</a>
                <a href="#" class="card-link">Reportar</a>
            </div>
        </div>
    </router-link>
</template>
<script>
export default {
    props: ['publicacion'],
    data() {
        return {
            // publicacion: {
            //     id: '',
            //     user: '',
            //     contenido: ''
            // }
        }
    },
  mounted() {
    console.log("Component mounted Publicacion.");
  }
};
</script>
